form {}

input {
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    border: 2px solid #767676;
    background-color: #1c1c1c;
    color: #767676;
    font-size: 14px;
}

input:focus {
    outline: none !important;
    border: 2px solid #415099;
}

input:hover::placeholder {
    padding-left: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.checkbox {
    margin-bottom: 13px;
}

.checkbox input {
    width: auto;
    height: auto;
}

p, span {
    font-size: 13px;
    margin: 0;
    height: 14px;
    color: #767676;
}

p {
    color: red;
}

button {
    height: 40px;
    width: 150px;
    background-color: #415099;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all 0.2s;
}

button:hover {
    cursor: pointer;
    background-color: #2e386b;
}